# -- Configure MISE requirements
[tools]
# Kubernetes tools
argocd = "latest"
helm = "3.19.4"
kind = "0.31.0"
kubectl = "1.35.0"

# Development tools
node = "lts"
pnpm = "latest"
tilt = "latest"

# -- Configure MISE environment
[env]
HELM_CACHE_HOME = "{{ config_root }}/.misenv/helm/cache"
HELM_CONFIG_HOME = "{{ config_root }}/.misenv/helm/config"
HELM_DATA_HOME = "{{ config_root }}/.misenv/helm/data"
KUBECONFIG = "{{ config_root }}/.misenv/kubeconfig"

# -- Configure MISE tasks
[tasks.setup]
description = "Create a local Kubernetes cluster"
run = "kind get clusters | grep -q 'argocd-dev' || kind create cluster --name argocd-dev --image kindest/node:v1.32.3"

[tasks.teardown]
description = "Delete the local Kubernetes cluster"
run = "kind delete cluster --name argocd-dev"

[tasks.dev]
description = "Start the development environment"
depends = ["setup"]
run = "tilt up"
