.argocd-application-map__controls-panel {
  margin-left: 10px;
  padding: 5px;
  box-shadow: 1px 1px 3px #8fa4b1;
  background: #fff;
}

.argocd-application-map__control-button {
  padding: 5px;
  margin: 2px;
  color: #6d7f8b;
  border-radius: 5px;
  vertical-align: middle;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  border: none;
  user-select: none;
  transition: background-color .2s, border .2s, color .2s;
  text-transform: uppercase;
  border: 1px solid transparent !important;
}

.argocd-application-map__control-button:hover {
  background-color: #d1d5d9;
}

.argocd-application-map__separator {
  border-right: 1px solid #dee6eb;
  padding-top: 6px;
  padding-bottom: 6px;
}